@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: block;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 打印样式 */
@media print {
  @page {
    margin: 0.8cm 1cm;
  }
  
  body {
    font-size: 14pt;
    line-height: 1.5;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: 12pt;
    margin-top: 0;
    margin-bottom: 0.8em;
  }
  
  p {
    font-size: 14pt;
    margin-top: 0;
    margin-bottom: 1em;
  }
  
  /* 隐藏不需要打印的元素 */
  .no-print {
    display: none !important;
  }
}
